        <li><a href="index.html"><i class="icon-chevron-right"></i> Why Program?</a></li>
        <li><a href="alreadyknow.html"><i class="icon-chevron-right"></i> What Should I Already Know?</a></li>
        <li><a href="tolearn.html"><i class="icon-chevron-right"></i> What Should I Learn?</a></li>
        <li><a href="whyruby.html"><i class="icon-chevron-right"></i> Why Ruby?</a></li>
        <li><a href="#doing"><i class="icon-chevron-right"></i> Doing Something</a></li>
        <li><a href="#methods"><i class="icon-chevron-right"></i> Methods</a></li>
        <li><a href="#vars"><i class="icon-chevron-right"></i> Variables</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> </a></li>

