      <li>
      <a href = "index.html">An Introduction to CSS</a>
      </li>
      <li>
      <a href = "selectors.html">Selectors</a>
      </li>
      <li>
      <a href = "declarations.html">Declarations</a>
      </li>
      <li>
      <a href = "positioning.html">Positioning Elements</a>
      </li>
      <li>
        <a href="classes-and-ids-as-selectors.html">Using Classes and IDs as Selectors</a>
      </li>
      <li>
      <a href = "stylesheets.html">Stylesheets</a>
      </li>
      <li>
        <a href="best-practices.html">Best Practices</a>
      </li>
      <li>
      <a href = "css3.html">CSS3 - The Future is Now</a>
      </li>
      <li>
      <a href = "what-have-i-learned.html">What Did I Learn?</a>
      </li>
      <li>
      <a href = "further-reading.html">Further Reading</a>
      </li>
      <li>
      <a href = "project.html">Test Your Knowledge</a>
      </li>
