/* declarations.html */
   p.declExample1 {
      width: 50%;
   padding: 8px 4px;
   text-align: center;
      margin: 22px 0 22px 15%;
      color: navy;
      font-size: 20px;
      background: rgb(250, 201, 110);
      border: 4px solid #a14016;
    }

    p.declExample2 {
        font-size: 34px;
        font-variant: small-caps;
    }
    h1.declExample2{
        font-size: 12px;
        text-transform: lowercase;
    }

/* positioning.html */

  .clear {clear:both;}
  .h1Inline h1{display:inline; width: 50px;}
    .box {
    width: 100px;
    color:black;
    font-weight:900;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    text-align:center;
    position:static; /*default position for objects*/
  }

  /* use colors and patterns for boxk background for vision-impared */
  .box1 {background: rgba(245, 188, 195, 0.7)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);}
  .box2 {background: rgba(247, 234, 49, 0.4)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);}
  .box3 {background:rgba(27, 66, 242, 0.3)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAJElEQVQYlWNgwAT/sYjhVIRXMbokVsW4TPhPjCJi5clXTBwAAOy+CfekNMf3AAAAAElFTkSuQmCC);}
  .box4 {
    left: 20px;
    background:rgba(11, 186, 11, 0.3)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAEklEQVQYlWNgoBL4T7GCoW8FAGEXBfvNSmHvAAAAAElFTkSuQmCC);
  }
  #float1 {
    width: 400px;
    overflow:auto;
    padding: 10px;
  }
  #float1 img{
    width: 100px;
    float:right;
    margin: 0 0 0 20px;
  }
  #float2, #float3, #float3{overflow:auto;}
  #float2 div, #float3 div, #float4 div {
    width: 25%;
    margin: 0 20px 10px 0;
    background: beige;
    border: 1px solid red;
    padding:10px;
  }
  #float4 div + p{clear:both;}

/* classes-and-ids-as-selectors.html */
  .codeExample{overflow:auto;}
  #columnsEx1,#columnsEx2 {
    width: 50%;
    font-size: 18px;
    font-family: "New Century Schoolbook", "Times New Roman", serif;
  }
  #columnsEx1 div, #columnsEx2 div {
    width: 40%;
    margin: 0 20px 10px 0;
    float:left;
    padding:10px;
  }
  #columnsEx1 p, #columnsEx2 p{
    clear:both;
  }
  #columnsEx1 .column, #columnsEx2 .column{
    font-size: 12pt;
    color: #0C17AB;
    font-weight:bold;
    font-family: "Helvetica", "Arial", sans-serif;
  }
  #multipleClasses .center{
    text-align:center;
  }

  #multipleClasses .header{
    color: #A913BD;
    font-weight:900;
  }

  #multipleClasses .footer{
    color: #80248C;
    font-weight:900;
    font-size:10px;
    margin: 40px 0 0 0;
  }

  #IDsMustBeUnique {
    width: 20%;
    float:right;
    background-color: yellow;
    margin: 20px 0;
    padding: 20px;
    border: 4px solid brown;
    font-size: 18px;
  }

  /* best-practices.html */

  #group p.intro {
    font-size: 20px;
    font-family:fantasy;
    color: #5D3706;
  }
  #group p {
    font-size: 16px;
    font-family: monospace;
    color: #111111;
  }