body {
  font-family: "Helvetica Neue Roman", Helvetica, Arial, sans-serif;
}

.ruby-header {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  padding-bottom: 30px;
}

.ruby-header h1, .ruby-header p {
  color: #fff;
}

.center {
  text-align: center;
}

.not-bold h2 {
  font-weight: 400;
}



/* Simlates the styling of the <pre> tag */
.codeExample{
    background: whiteSmoke;
    padding:10px;
    border: 1px solid #ccc;
}

/* For when you want to make a note in the <pre> tag */
.exampleAside {
  color:red;
  font-weight:900;
}


/* *** Temporary - Remove later */
/* Makes an ugly highlight on an item to remind you to check something later */
.checkThisLater {
  padding: 2px;
  background:yellow;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid red;
}

